@inject NavigationManager NavigationManager

<div class="catalog-footer p-3 mt-auto">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center text-center text-md-start">

            <div class="col-12 col-md-auto mb-3 mb-md-0">
                <button class="btn btn-outline-secondary">Czyszczenie pamięci</button>
            </div>

            <div class="col-12 col-md d-flex flex-column align-items-center">
                <p class="mb-2 theme-font-color">System 2025 - katalog online - dostęp dla czytelników bibliotek szkolnych</p>
                <div class="d-flex flex-wrap justify-content-center gap-3">
                    <a class="text-decoration-none theme-font-color">KONTAKT</a>
                    <a class="text-decoration-none theme-font-color">POMOC</a>
                    <a class="text-decoration-none theme-font-color">MAPA STRONY</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
