@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@rendermode InteractiveServer

<div class="catalog-navbar navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="d-flex align-items-center theme-font-color" href="/" style="max-width: 320px; text-decoration:none">
            <img src="/images/school-logo.png" class="img-thumbnail p-2" style="max-width:64px"/>
            <span class="text-wrap text-center p-2"> Biblioteka Szkoły <br> Podstawowej nr&nbsp;123 <br> w&nbsp;Testach</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-nowrap justify-content-end" id="navbarCollapse">
            <div class="d-flex flex-column align-items-end">
                <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-row">
                     <li class="nav-item">
                       <a class="nav-link p-2 theme-font-color btn btn-nav">
                           <i class="bi bi-box-arrow-left"></i> Zaloguj
                       </a>
                     </li>
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    <!-- Zmień rozmiar czcionki -->
                    <li class="nav-item mx-2">
                        <a class="nav-link theme-font-color btn btn-nav" @onclick="CycleFontSize">
                            <i class="bi bi-type" title="Zmień rozmiar czcionki"></i>
                        </a>
                    </li>

                    <!-- Zmień motyw kolorystyczny -->
                    <li class="nav-item mx-2">
                        <a class="nav-link theme-font-color btn btn-nav" @onclick="CycleTheme">
                            <i class="bi bi-palette-fill" title="Zmień motyw"></i>
                        </a>
                    </li>

                    <!-- Włącz/wyłącz kontrast -->
                    <li class="nav-item mx-2">
                        <a class="nav-link theme-font-color btn btn-nav" @onclick="ToggleContrast">
                            <i class="bi bi-highlights" title="Wysoki kontrast"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    private async Task CycleFontSize() => await JS.InvokeVoidAsync("cycleFontSize");
    private async Task CycleTheme() => await JS.InvokeVoidAsync("cycleTheme");
    private async Task ToggleContrast() => await JS.InvokeVoidAsync("toggleContrast");
}
