@inject NavigationManager Navigation
@rendermode InteractiveServer

<div class="card shadow mb-4 mt-4 border-1">
    <div class="d-flex justify-content-center">
        <div class="card-body p-4">
            <div class="d-flex flex-wrap justify-content-center p-4 gap-3">
                <a class="btn btn-lg btn-primary" aria-current="Strona główna" href="/">
                    <i class="bi bi-house"></i> Home
                </a>
                <a class="btn btn-lg btn-primary" href="/catalog">
                    <i class="bi bi-book" aria-hidden="true"></i> Katalog
                </a>
                <a class="btn btn-lg btn-primary" href="/lektury">
                    <i class="bi bi-journal-bookmark-fill" aria-hidden="true"></i> Lektury
                </a>

                <a class="btn btn-lg btn-primary" href="/podreczniki">
                    <i class="bi bi-journals" aria-hidden="true"></i> Podręczniki
                </a>
            </div>

            <div class="d-flex justify-content-center p-4">
                <div class="search-container d-flex align-items-center gap-4">
                    <!-- Logo -->
                    <img id="search-logo" class="books-icon" alt="Symbol katalogu" src="/images/katalog.png">

                    <!-- Tytuł i wyszukiwarka -->
                    <div id="search">
                        <h1 class="mb-3 text-center theme-font-col-pri">Katalog Online</h1>
                        <form @onsubmit="OnFormSubmit">
                            <div class="d-flex">
                                <input id="searchbar" class="form-control me-2" type="search" placeholder="Szukaj"
                                       aria-label="Szukaj"
                                       @bind="SearchTerm">

                                <button id="search-button" class="btn btn-lg btn-primary text-nowrap" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<string> OnSearchChanged { get; set; }

    private string SearchTerm { get; set; } = "";

    private async Task OnFormSubmit()
    {
        await OnSearchChanged.InvokeAsync(SearchTerm);
        var encodedTerm = Uri.EscapeDataString(SearchTerm);
        Navigation.NavigateTo($"/search/?term={encodedTerm}");
    }
}